element.style{}
table, tbody td{
    color:black;
}
th, td{
    padding: 10px;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    font: 15px Ubuntu, sans-serif;
    border-spacing: 1px;
    border-color: lightgray;
    }
td[attributes Style]{
    background-color: rgb(98,140,166);
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
table, thead td{
    background-color: #628ca6;
}
table, thead th{
    background-color: #7fb9c2;
}
table, th, td {
    border: 1px solid black;
    border-color: lightgray;
}
table, tfoot td{
    background-color: #7fb9c2;
}
table {
    display: table;
    border-collapse: separate;
    border-color: grey;
}