@media only screen and (min-width: 64em) {
    body{
        margin:auto;
       /* font-family: , ;*/
    }
    .container1 div {
        display: inline-grid;
        grid-gap: 6px;
        grid-auto-flow: row;
        background: #ffffff;
        word-wrap: break-word;   
    }
    .box2 {
        order: 2;
    }
    .box2>h1 {
        font-family: merriweather, serif;
        font-size: 60px;  
    }
    .hamburger{ 
    display: none;
    }
   .nav {
        background-color:#aaaaaa ;
        font-family: montserrat, sans-serif;
        color: #ffffff;
        list-style: none;
        text-align: center;
        padding: 20px 0 20px 0;
    }
    
    .nav > li {
        display: inline-block;
        padding: 0 25px 0 25px;
    }
    
    .nav > li > a {
        text-decoration: none;
        color: white;
        
    }
    .nav >li > a:hover {
        color:#ffce00;
    }
       .grid {
        display: grid;
        grid-template-columns: repeat (2, auto);
        grid-template-rows: auto;
        grid-gap: 5px;
        justify-content: center;
    }
     footer {
        display: inline-flex;
        background-color: #aaaaaa;
        color: #ffffff;
        padding: 5px 5px 5px 5px;
        align-content: center;
    }
    .contact {
        display:flex;
        flex-direction: row;
        flex-basis: 100%;
        justify-content: space-between;
        background: #aaaaaa;
        padding: 2em ;
        word-wrap: break-word;
    }
    .box3{
        display: inline-flex;
        justify-content: center;
        flex:3;
    }
    .comtact > box3 > h2 {
        font-family: merriweather, serif;   
    }
  p {
        word-break: wrap;
    }
}