@media only screen and (min-width: 64em ) {

.hamburger{ 
    display:none;position: absolute;top: 2.0rem;right: 1.25rem;
    }
nav {}
nav button {}
nav ul {
    list-style-type: 'Vollkorn', Serif;
    margin: 4px;
    padding: 10px;
    overflow: hidden;
    background-color: #8be0f6;}
nav ul li {
    float: left;
    list-style-type: none;
}
nav ul li a {
    display: inline;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li.active a {
     background-color: #f9dc26;
}
nav ul li a:hover {
     background-color: #ffd1d1;
    }
img:hover {
    box-shadow: 5px 5px 10px #fdc513;
    }
    
.wrapperF {
    display: inline-grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
    justify-items: start; 
    align-items: start; 
    grid-auto-flow: row;
    background: #ffffff;
    padding: 30px #ffffff;
    word-wrap: break-word;
    border-style: solid;
    border-color: #fdc513;
}
.wrapperG {
    display: inline-grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 6px;
    justify-items: start; 
    align-items: start; 
    grid-auto-flow: row;
    background: #ffffff;
    padding: 2em #ffffff;
    word-wrap: break-word;
        
    }
.wrapperG img {
    width: 100%;
   
    }

}