@media only screen and (min-width: 64em ) {

.hamburger{ 
    display:none;
    position: absolute;

    }
nav ul {
    margin: 4px;
    padding: 10px;
    overflow: hidden;
    background-color: #8be0f6;}
nav ul li {
    float: left;
    list-style-type: none;
}
nav ul li a {
    display: inline;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li.active a {
     background-color: #f9dc26;
}
nav ul li a:hover {
     background-color: #ffd1d1;
    }
img:hover {
    box-shadow: 5px 5px 10px #fdc513;
    }
 .topimg {
    position: absolute;
        }   
.wrapperF {
    display: inline-grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
    grid-auto-flow: row;
    background: #ffffff;
    padding: 30px;
    word-wrap: break-word;
}
.wrapperG {
    display: inline-grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 6px; 
    grid-auto-flow: row;
    background: #ffffff;
    padding: 2em;
    word-wrap: break-word;
        
    }
.wrapperG img {
    width: 100%;
   
    }

}