@media only screen and (min-width: 64em) { /*64em*/

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    navigation button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    section.forecast { display: contents;}  /* show the 10-day forecast with the medium view and up */
.wrapperG {
    display: inline-grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 6px;
    justify-items: start; 
    align-items: start; 
    grid-auto-flow: row;
    background: #ffffff;
    padding: 2em #ffffff;
    word-wrap: break-word;
}
  }
